        html,
        body {
            height: 100%;
        }

        body {
            background-color: aliceblue;
        }

        #questions {
            text-align: center;
        }

        .question {
            /*border: solid 3px #948cc4;
            border-radius: 8px;
            padding: 10px;*/

            margin: 5px;
            /*text-align: center;
            background-color: #cbe2f7;*/

            width: 80%;
            position: relative;
        }

        #title-form {
            margin: 5px;
            /*text-align: center;
            background-color: #cbe2f7;*/
            width: 80%;
            position: relative;
            margin-left: auto;
            margin-right: auto;
        }

        #title-form * {
            margin-top: 2px;
            margin-bottom: 2px;
        }

        .question * {
            margin-top: 2px;
            margin-bottom: 2px;
        }

        .left {
            text-align: left;
        }

        .left > * {
            margin-left: initial;
            margin-right: initial;
        }

        .center {
            text-align: center;
        }

        .center > * {
            margin-left: auto;
            margin-right: auto;
        }

        .right {
            text-align: right;
        }

        .full {
            width: 100%;
        }

        .question input {
            width: 100%;
        }

        .answer::before {
            content: "<span class='glyphicon plyphicon-minus'></span>";
        }

        .remove-button {
            position: absolute;
            right: 8px;
            top: 8px;
        }

        .download {}

        #multi {
            padding-left: 5%;
            padding-right: 5%;
        }

        #magic {
            /*Rainbows*/
        }

        #easter {
            position: fixed;
            width: 80%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: thick solid #999999;
            display: none;
        }
        #logo{

            transform: translate(0px, -12px);

        }